
  text{
    font-family: sans-serif;
    fill            : none;
    stroke          : rgb(132,92,65);
    stroke-width    : 2px;
  }
  tspan {
    fill : rgb(231,208,175);
    stroke          : none;
    stroke-width    : 2px;
  }

