.gradient {
    left: 0;
    right: 0;
    height: 70vh;
    position: absolute;
    top: -5vh;
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/bgcascading.jpg");
    background-size: 100vw 65vh;
    background-position: center;
    z-index: 3;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.headerPictureWrapper {
    grid-column: span 5;
    grid-row-start: header;
    grid-row-end: main;


}
 .headerBorder {
    margin: auto 5vw;
    margin-top: 7vh;
}

.logo {
    color: #fafafa;
    display: inline;
    font-size: 1.65rem;
    border: 2px solid rgb(180, 177, 177);
    border-radius: 100%;
    position: relative;
    top: 1vh;
    z-index: 4;
    min-width: 55px;
    min-height: 55px;
    padding: 1.5vw;


}
.headerTitle > span {
    width: 85vw;
    margin: auto auto;
    display: block;
    position: relative;
    margin-left: 0;
    padding-bottom: 2vh;
    z-index: 4;
    border-bottom: 2px solid rgb(180, 177, 177);
}
.headerTitle {
    color: #fafafa;
    display: inline;
    font-size: 1.65rem;
    position: relative;
    z-index: 4;

    font-family: sans-serif, Arial, Helvetica;

}
.headerText {
    color: #ECECEC;
    display: block;
    font-size: 1.4rem;
    font-weight: normal;
    z-index: 4;
    position: relative;
    top: 2vh;
 }
 @media only screen and (min-width: 320px) and (max-width: 410px) {
    .firstSectionOverlay, .firstTransition {
        height: 60vh;
    }
    .headerBorder {
        margin: auto 3vw;
    }
    .headerTitle {
        font-size: 1.5rem;
    }
    .headerText {
        font-size: 1.35rem;
    }
}
@media only screen and (min-width: 600px) {
 .firstTransition {
    min-height: 70vh;
    max-height: 70vh;
}
.firstSectionOverlay {
    min-height: 80vh;
    max-height: 80vh;
}
}

@media only screen and (min-width: 800px) {
.firstTransition {

    min-height: 80vh;
    max-height: 80vh;
}
.firstSectionOverlay {
    min-height: 90vh;
    max-height: 90vh;
}
.headerBorder {
    min-height: 40vh;
    margin-top: 5vh;
}
}
@media only screen and (min-width: 968px) {
.headerTitle {
    font-size: 1.8rem;
}
.headerText {
    font-size: 1.55rem;
}
 .firstTransition {
    min-height: 80vh;
    max-height: 80vh;
}
.firstSectionOverlay {
    min-height: 90vh;
    max-height: 90vh;
}
.headerBorder {
    min-height: 55vh;
}
}
@media only screen and (min-width: 768px) {
.headerTitle > span {
      display: inline;
}
}
