.wrapper {
    grid-column-start: left;
    grid-column-end: right-gutter;
    grid-row-start: first;
    padding-top: 20vh;
}
@media only screen and (min-width: 320px) and (max-width: 410px) {
    .wrapper {
        padding-top: 15vh;
    }
}
@media only screen and (min-width: 600px) {
    .wrapper {
        padding-top: 30vh;
    }
}
@media only screen and (min-width: 968px) {
    .wrapper {
        padding-top: 10vh;
    }
}