.wrapper {
    grid-column-start: left-gutter;
    grid-column-end: right-gutter;
    padding: 0;
    padding-top: 0vh;
    position: relative;
    top: -5vh;
    z-index: 7;

}

.appear-enter {
    opacity: 0;
}
.appear-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in-out;
}
.appear-exit {
    opacity: 1;
}
.appear-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
}


.button-enter {
    transform: scaleY(1);
}
.button-enter-active {
    transform: scale(1.05, 1.05);
    transition: transform 200ms ease-in;
}
.button-exit {
    transform: scale(1.05, 1.05);
}
.button-exit-active {
    transform: scaleY(1);
    transition: transform 200ms;
}

.nav-enter {
    transform: rotate(0);
}
.nav-enter-active {
    transform: rotate(180deg);
    transition: transform 200ms ease-in;
}
.nav-exit {
    transform: rotate(180deg);
}
.nav-exit-active {
    transform: rotate(0);
    transition: transform 200ms;
}

@media only screen and (min-width: 968px) {
    .wrapper {
        padding-top: 10vh;
    }
}